@page "{id:int?}"
@model Proiect_Medii_de_prodramare.Pages.Platforms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Platform[0].PlatformName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlatformData.Platforms)
        {
            string selectedRow = "";
            if (item.ID == Model.PlatformID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.PlatformName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PlatformData.Games != null)
{
    <h3>Games Edited by Selected Platform</h3>
    <table class="table">

        @foreach (var item in Model.PlatformData.Platforms)
        {
            string selectedRow = "";
            if (item.ID == Model.PlatformID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Games)
                        {

                            @b.Name 

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}

